html,
* {
    padding: 0;
    margin: 0;
}

body {
    height: 1000px;
    font-family: "IBM Plex Serif";
    font-weight: bold;
    font-size: 22pt;
}

a {
    color: black;
    text-decoration: none;
}



.menu {
    display: flex;
    gap: 100px;
    background: #F2D673;
    height: 120%;
    justify-content: center;
    align-items: center;
    height: 90px;

}

.menu-link::after {
    content: '';
    display: flex;
    width: 0%;
    height: 5px;
    border-radius: 10px;
    background-color: black;
    position: sticky;
    transition: .2s ease;
}

.menu-link:hover::after {
    width: 100%;
}

.menu-active::after {
    width: 100%;
}

.menu-left {
    border-radius: 0 1000px 1000px 0;
}

.menu-right {
    border-radius: 1000px 0px 0px 1000px;

}

header {
    display: flex;
    justify-content: space-between;
    font-family: "IBM Plex Serif";
    font-weight: bold;
    font-size: 22pt;
    align-items: flex-end;
    margin-top: 20px;
}

.side {
    width: 120%;
}

.logo {
    width: 250px;
    position: relative;
    bottom: 0;
}

.info-text {
    text-align: center;
}

.info {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 10%;
    align-items: center;
    
}

.contacts {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-icon {
    width: 80px;
}

.contact-icons {
    display: flex;
    gap: 35px;
    margin-bottom: 20px;
}

.profile-icons {
    width: 80px;
}

.info-right {
    display: flex;

}




.zapiski-foto {
    width: 570px;
    height: auto;
    position: absolute;
    padding-right: 100px;
}
.zapiski {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.text-uslugi {
   font-family: 'Pacifico';
   font-size: 190%;

}

#ispoved {
    top: 123%;
    right: 3%;
}

#two-foto {
    top: 136%;
    right: 23%;
}

#three-foto {
    top: 154%;
    right: 6%;
}

.emblem {
    position: absolute;
    left: 115px;
    top: 124%;
}

.text-uslugi {
    text-align: center;
}

.right-part-zapiski {
    position: absolute;
    top: 152%;
    left: 9%;
}

.liniy {
    width: 500px;
    height: 5px;
    background: black;
    border-radius: 50px;
    position: absolute;
    top: 174%;
    right: 64%;
}



.btn {
    background: #F2D673;
    width: 295px;
    height: 85px;
    position: absolute;
    top: 179%;
    right: 69%;
    border-radius: 30px;
    font-family: 'Pacifico';
    font-size: 180%;
    border-width: 0px;
    margin-bottom: 0px;

    box-shadow: 0 6px #ffa500;
}

.btn:hover {
    box-shadow: 0 4px #ffa500;
    top: 180%;
}

.btn:active {
    box-shadow: none;
    top: 180%;
  }

.fon-page-zapiski {
    background-image: url(src/рамка.png);
}

.baner {
    width: 100%;
}