/* * {
    outline: 2px solid red;
} */

html,
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "IBM Plex Serif";
    font-weight: bold;
    font-size: 22pt;
}

a {
    color: black;
    text-decoration: none;
}

.menu {
    display: flex;
    gap: 100px;
    background: #f2d673;
    height: 120%;
    justify-content: center;
    align-items: center;
    height: 90px;

}

.menu-link::after {
    content: '';
    display: flex;
    width: 0%;
    height: 5px;
    border-radius: 10px;
    background-color: black;
    position: sticky;
    transition: .2s ease;
}

.menu-link:hover::after {
    width: 100%;
}

.menu-active::after {
    width: 100%;
}

.menu-left {
    border-radius: 0 1000px 1000px 0;
}

.menu-right {
    border-radius: 1000px 0px 0px 1000px;
    padding-left: 25px;

}

header {
    display: flex;
    justify-content: space-between;
    font-family: "IBM Plex Serif";
    font-weight: bold;
    font-size: 22pt;
    align-items: flex-end;
    margin-top: 20px;
}

.side {
    width: 120%;
}

.logo {
    width: 250px;
    position: relative;
    bottom: 0;
}

.logo-two {
    width: 250px;
    position: relative;
    bottom: 0;
}

.info-text {
    text-align: center;
}

.info-text-right {
    text-align: center;
}

.info-left {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 10%;
    align-items: center;

}

.contacts {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-icon {
    width: 80px;
}

.contact-icons {
    display: flex;
    gap: 35px;
    margin-bottom: 20px;
}

.profile-icons {
    width: 80px;
}

.info-right {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 10%;
    align-items: center;
}


.burger-menu {
    position: fixed;
    top: 20px;
    left: 26px;
    width: 30px;
    height: 24px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1000;
}

.burger-menu .line {
    width: 100%;
    height: 4px;
    background-color: black;
    transition: all 0.3s ease;
}

/* Анимация для бургера при открытии меню */
.burger-menu.active .line:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
}

.burger-menu.active .line:nth-child(2) {
    opacity: 0;
}

.burger-menu.active .line:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
}

/* Стиль для меню */
.menu-burger {
    position: fixed;
    top: 0;
    right: -250px;
    /* Скрываем за пределами экрана */
    width: 250px;
    height: 100vh;
    background-color: #f4f4f4;
    transition: right 0.3s ease;
    z-index: 999;
}

.menu-burger ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 60px;
}

.menu-burger ul li {
    text-align: center;
    margin: 20px 0;
}

.menu-burger ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

/* Показать меню */
.menu-burger.active {
    right: 0;
}



@media (max-width:7680px) {
    .logo-two {
        display: none;
    }

    .menu-two {
        display: none;
    }

    .burger-menu {
        display: none;
    }
}

@media (max-width:1880px) {
    .logo-two {
        display: none;
    }
}

@media (max-width:1770px) {

    .info-text {
        font-size: 18pt;
        text-align: center;
    }

    .info-text-right {
        font-size: 18pt;
        text-align: center;
    }

    .phone {
        font-size: 18pt;
    }

    .menu-link {
        font-size: 18pt;
    }
}

@media (max-width:1580px) {

    .info-text {
        font-size: 16pt;
        text-align: center;
    }

    .info-text-right {
        font-size: 16pt;
        text-align: center;
    }

    .phone {
        font-size: 16pt;
    }

    .menu-link {
        font-size: 16pt;
    }

    .contact-icons img {
        width: 60px;
    }

    .login-icon img {
        width: 60px;
    }

    .logo {
        width: 210px;
    }
}

@media (max-width:1440px) {

    .info-text {
        font-size: 16pt;
        text-align: center;
    }

    .info-text-right {
        font-size: 16pt;
        text-align: center;
    }

    .phone {
        font-size: 16pt;
    }

    .menu-link {
        font-size: 16pt;
    }

    .contact-icons img {
        width: 60px;
    }

    .login-icon img {
        width: 60px;
    }

    .logo {
        width: 190px;
    }
}

@media (max-width:1283px) {
    .logo {
        display: none;
    }

    .side {
        width: 100%;
    }

    .logo-two {
        display: flex;
        width: 190px;
    }

    .info-text-right {
        display: none;
    }

    .menu-left {
        border-radius: 0 0px 0px 0;
    }

    .menu-right {
        border-radius: 0px 0px 0px 0px;
        padding-left: 25px;

    }

    .info {
        margin-bottom: 0%;
    }

    .info-right {
        margin-bottom: 0%;
    }

    .info-text {
        font-size: 16pt;
        text-align: center;
    }

    .login-icon {
        padding-left: 83px;
    }

}


@media (max-width:980px) {

    .contacts {
        display: none;
    }

    .info-text {
        font-size: 16pt;
        text-align: center;
        margin-bottom: 30px;
    }

    .login-icon img {
        margin-left: auto;
        margin-right: 70px;
    }

    .menu {
        height: 50px;
    }

    .menu-link {
        font-size: 11pt;
    }

}

@media (max-width:870px) {
    .burger-menu {
        display: flex;
    }

    .menu-left {
        display: none;
    }

    .menu-right {
        display: none;
    }

    .info-left {
        margin-block: 90px;
    }

}

@media (max-width:710px) {

    .login-icon img {
        width: 50px;
    }

    .login-icon {
        padding-left: 0px;
    }

    .logo-two {
        width: 180px;
    }

}


@media (max-width:522px) {

    .login-icon img {
        width: 50px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .login-icon {
        margin-bottom: 50px;
    }

    .logo-two {
        width: 170px;
        padding-left: 50px;
    }

    .info-text {
        font-size: 13pt;
    }

    .info-left {
        margin-block: 0px;
    }

    .info-right {
        gap: 0px;
    }

    header {
        display: flex;
        font-family: "IBM Plex Serif";
        font-weight: bold;
        font-size: 22pt;
        margin-top: 20px;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .slaider {
        display: none;
    }
}



.treba {
    background-image: url(src/img/рамка.png);
    background-size: cover;
    padding: 100px;
    display: flex;
    justify-content: space-between;
}

.treba-left {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 35px;

}

.treba-text {
    font-family: 'Pacifico';
    font-size: 40pt;
    text-align: center;
}

.treba_foto3 {
    width: 1038px;
}

.treba-right {
    display: flex;
    flex-direction: row-reverse;
}

.line-treba {
    width: 500px;
    height: 5px;
    background: black;
    border-radius: 50px;
}

.btn {
    background: #F2D673;
    width: 295px;
    height: 85px;
    border-radius: 30px;
    font-family: 'Pacifico';
    font-size: 180%;
    border-width: 0px;
    margin-bottom: 0px;

    box-shadow: 0 6px #ffa500;
}

.btn:hover {
    box-shadow: 0 4px #ffa500;
    top: 180%;
}

.btn:active {
    box-shadow: none;
    top: 180%;
}

.baner {
    width: 100%;
}

.emblem-foto-treba {
    height: auto;
    width: 650px;
}


@media (max-width:1850px) {
    .treba {
        background-image: none;
    }

    .treba_foto3 {
        width: 1000px;
    }

}

@media (max-width:1760px) {
    .treba_foto3 {
        width: 880px;
    }

    .emblem-foto-treba {
        height: auto;
        width: 600px;
    }

    .treba-left {
        gap: 25px;
    }
}

@media (max-width:1600px) {
    .treba_foto3 {
        width: 800px;
    }

    .emblem-foto-treba {
        height: auto;
        width: 565px;
    }

    .treba {
        padding: 65px;
    }
}

@media (max-width:1470px) {
    .treba_foto3 {
        width: 770px;
    }

    .emblem-foto-treba {
        height: auto;
        width: 525px;
    }

    .treba {
        padding: 30px;
    }
}

@media (max-width:1340px) {
    .treba {
        padding: 20px;
    }

    .treba-text {
        font-size: 25pt;
    }

    .btn {
        width: 215px;
        font-size: 25pt;
        height: 50px;
    }

    .line-treba {
        display: none;
    }

    .treba_foto3 {
        width: 630px;
    }

}

@media (max-width:1340px) {

    .emblem-foto-treba {
        height: auto;
        width: 470px;
    }

    .treba-text {
        font-size: 20pt;
    }

    .btn {
        width: 200px;
        font-size: 20pt;
    }

    .treba_foto3 {
        width: 530px;
    }
}

@media (max-width:1030px) {

    .emblem-foto-treba {
        height: auto;
        width: 340px;
    }

    .btn {
        width: 160px;
        font-size: 18pt;
        height: 36px;
    }

    .treba-text {
        font-size: 18pt;
    }

    .treba_foto3 {
        width: 430px;
    }

}

@media (max-width:800px) {

    .treba-right {
        display: none;
    }

    .treba {
        display: block;
        justify-content: initial;
    }

}

@media (max-width:384px) {

    .emblem-foto-treba {
        height: auto;
        width: 260px;
    }

    .btn {
        width: 140px;
        font-size: 16pt;
        height: 32px;
    }

    .treba-text {
        font-size: 14pt;
    }
}

@media (max-width:300px) {

    .emblem-foto-treba {
        height: auto;
        width: 200px;
    }

    .btn {
        width: 120px;
        font-size: 12pt;
        height: 28px;
    }

    .treba-text {
        font-size: 12pt;
    }
}






.about {
    background-image: url(src/img/рамка-жёлтая.png);
    background-size: cover;
    padding: 100px;
    display: flex;
    justify-content: space-between;
}

.about-text {
    font-family: 'Pacifico';
    font-size: 35pt;
}

.about-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}

.about-left {
    display: flex;
    align-items: center;
}

.about-text-info {
    font-size: 20pt;
    text-align: justify;
    padding-bottom: 2%;
    padding-top: 1%;
}

.foto1_about {
    display: flex;
}

.foto2_about {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.emblem-foto {
    height: auto;
    width: 650px;
}

.line-about {
    width: 500px;
    height: 5px;
    background: black;
    border-radius: 50px;
}







.gallery {
    background-image: url(src/img/рамка-галлерея-главная.png);
    background-size: cover;
    padding: 100px;
    display: flex;
    flex-direction: column;
}

.center-top-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.image-gallery {
    width: 420px;
    height: 260px;
}

.gallery-content {
    display: flex;
    justify-content: center;
}


.images-part-gallery {
    margin-block: 40px;
    display: flex;
    gap: 15px;
}

.gallery-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-end;
}







.zapiski {
    background-image: url(src/img/рамка-жёлтая.png);
    background-size: cover;
    padding: 100px;
    display: flex;
    justify-content: space-between;
}

.zapiski-text-info {
    font-size: 20pt;
    text-align: justify;
    padding-bottom: 2%;
    padding-top: 1%;
}

.zapiski-left {
    display: flex;
    align-items: center;
}

.zapiski-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 77px;
}

.zapiski-text {
    font-family: 'Pacifico';
    font-size: 35pt;
}


.part-scedule {
    background-image: url(src/img/рамка-расписание-главная.png);
    background-size: cover;
    padding: 100px;
    display: flex;
    flex-direction: column;
}

.scedule {
    background-image: url(src/img/рамка-расписание.png);
    background-size: cover;
    padding: 100px;
    justify-content: space-between;
}

.scedule-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-end;
}

.scedule-table-part {
    margin: 20px 0;
    font-family: 'Pacifico';
    font-size: 19pt;
    text-align: center;
}

.line-table-scedule {
    padding: 8px;
}


.reviews {
    background-image: url(src/img/рамка-галлерея-главная.png);
    background-size: cover;
    padding: 100px;
    display: flex;
    flex-direction: column;
}





.map-church {
    background-image: url(src/img/рамка-жёлтая.png);
    background-size: cover;
    padding: 100px;
}

.map-church-text {
    font-family: 'Pacifico';
    font-size: 35pt;
}

.map-church-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}

.map-container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    border-radius: 10px;
}

iframe {
    width: 100%;
    height: 620px;
}

.reviews-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 7px;
}

.user-block {
    background-color: white;
    border: 4px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 10px;
    padding: 40px;
    width: 330px;
    text-align: left;
    display: inline-block;
    border-radius: 50px 50px 50px 50px;
}

/* Стиль для заголовков */
.user-block h2 {
    font-size: 22px;
    margin-bottom: 10px;
    position: relative;
}


/* Стиль для текста */
.user-block p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}


.reviews-bottom {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 18px;
}



.page-treba {
    background-image: url(src/img/рамка-большая.png);
    background-size: cover;
    padding: 100px;
}

.center-top-page-treba {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.treba-text-page-treba {
    font-family: 'Pacifico';
    font-size: 40pt;
    text-align: center;
    margin-top: -2%;
}

.line {
    width: 500px;
    height: 8px;
    background: black;
    border-radius: 50px;
}



.christening-part {
    display: flex;
    margin-top: 6%;
    margin-left: 1%;
    justify-content: space-between;
    align-items: center;
}

.text-heading-page-treba {
    font-family: 'Pacifico';
    font-size: 40pt;
    display: flex;
    justify-content: center;
}


.consecration-car-part {
    display: flex;
    margin-top: 6%;
    margin-left: 4%;
    justify-content: space-between;
    align-items: center;
}

.wedding-part {
    display: flex;
    margin-top: 6%;
    margin-left: 1%;
    justify-content: space-between;
    align-items: center;
}

.communion-at-home-part {
    display: flex;
    margin-top: 6%;
    margin-left: 4%;
    margin-bottom: 3%;
    justify-content: space-between;
    align-items: center;
}







.podval {
    background-color: #f2d673;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-wrap: nowrap;
    gap: 50px;
    padding-block: 30px;
}

.podval-fist-part {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-podval-year {
    font-family: "IBM Plex Serif";
    font-size: 14pt;
}

.text-podval-left {
    font-family: "IBM Plex Serif";
    font-size: 14pt;
}


.text-podval {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.text-podval-menu {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: "IBM Plex Serif";
    font-size: 16pt;
    gap: 10px;
}


.text-podval-networks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.soc-networks-icon {
    text-align: center;
    display: inline-block;
    font-size: 16pt;
}

.text-podval-right {
    text-align: center;
    display: inline-block;
}

.text-podval-telephone {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: "IBM Plex Serif";
    font-size: 16pt;
}

.text-podval-icons-soc-networks {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

h3 {
    margin-bottom: 30px;
}


@media (max-width:1280px) {
    .text-podval {
        display: none;
    }
}


@media (max-width:1024px) {

    .text-podval-icons-soc-networks {
        gap: 15px;
    }

    .text-podval-networks h3 {
        display: none;
    }

    .text-podval-icons-soc-networks {
        flex-direction: column;
    }

    h3 {
        font-size: 18pt;
    }

    .soc-networks-icon {
        font-size: 12pt;
    }

    .soc-networks-icon img {
        width: 40px;
    }
}

@media (max-width:660px) {
    .podval {
        flex-direction: column;
    }

    .text-podval-icons-soc-networks {
        flex-direction: row;
    }

    .text-podval-networks h3 {
        display: block;
    }

}




.page-about {
    background-image: url(src/about-рамка.png);
    background-size: cover;
    padding: 100px;
    justify-content: space-between;
    background-color: #F1E6BE;
}

.center-top-page-about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.about-text-page-about {
    font-family: 'Pacifico';
    font-size: 40pt;
    text-align: center;
    margin-top: -2%;
}


.text-heading-page-treba {
    font-family: 'Pacifico';
    font-size: 40pt;
    display: flex;
    justify-content: center;
}

.information-part {
    display: flex;
    margin-top: 8%;
    margin-left: 1%;
    justify-content: space-between;
    align-items: center;
}

.information-part-two {
    display: flex;
    margin-top: 10%;
    margin-left: 4%;
    justify-content: space-between;
    align-items: center;
}

.information-part-three {
    display: flex;
    margin-top: 8%;
    margin-left: 4%;
    margin-bottom: 3%;
    justify-content: space-between;
    align-items: center;
}

.page-gallery {
    background-image: url(src/img/gallery/рамка-галлерея.png);
    background-size: cover;
    padding: 100px;
    justify-content: space-between;
}

.center-top-page-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.gallery-text-page-gallery {
    font-family: 'Pacifico';
    font-size: 40pt;
    text-align: center;
    margin-top: -2%;
}

.video {
    margin-top: 3%;
    margin-left: 3%;
}


.line1 {
    display: -webkit-inline-box;
}

.images {
    margin-block: 3%;
    padding-left: 3%;
    display: flex;
    gap: 3%;
    border-spacing: 10%;
    padding-bottom: 37px;
}

.gallery-image {
    width: 800px;
    height: 490px;
}

.modal {
    display: none;
    /* По умолчанию модальное окно скрыто */
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    /* Темный фон */
}

.modal img {
    max-width: 100%;
    /* Ограничение ширины картинки */
    height: 100%;
    /* Ограничение высоты картинки */
    margin: auto;
    display: block;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}





.page-scedule {
    background-image: url(src/img/рамка-расписание.png);
    background-size: cover;
    padding: 100px;
    justify-content: space-between;
}

.scedule-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: 'Pacifico';
    font-size: 30pt;
    text-align: center;
}

.line-table {
    border: 1px solid #524a4a;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

small {
    font-size: 0.8em;
    color: #676565;
}

.center-top-page-scedule {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-top: 25px;
    padding-bottom: 80px;

}

.th1 {
    background-color: #f2d673;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    border: 0px solid;
    border-radius: 100px 0px 0px 0px;
}

.th2 {
    background-color: #f2d673;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    border: 0px solid;
}

.th3 {
    background-color: #f2d673;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    border: 0px solid;
    border-radius: 0px 100px 0px 0px;
}







.page-zapiski {
    background-image: url(src/about-рамка.png);
    background-size: cover;
    padding: 100px;
    justify-content: space-between;
    background-color: #F1E6BE;
}






.page-profile {
    background-image: url(src/about-рамка.png);
    background-size: cover;
    padding: 100px;
    justify-content: space-between;
    background-color: #F1E6BE;
}





.page-login {
    background-image: url(src/about-рамка.png);
    background-size: cover;
    padding: 100px;
    justify-content: space-between;
    background-color: #F1E6BE;
}



.page-reviews {
    background-image: url(src/img/рамка-расписание.png);
    background-size: cover;
    padding: 100px;
    justify-content: space-between;
}