html,
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "IBM Plex Serif";
    font-weight: bold;
    font-size: 22pt;
}

a {
    color: black;
    text-decoration: none;
}

.menu {
    display: flex;
    gap: 100px;
    background: #f2d673;
    height: 120%;
    justify-content: center;
    align-items: center;
    height: 90px;

}

.menu-link::after {
    content: '';
    display: flex;
    width: 0%;
    height: 5px;
    border-radius: 10px;
    background-color: black;
    position: sticky;
    transition: .2s ease;
}

.menu-link:hover::after {
    width: 100%;
}

.menu-active::after {
    width: 100%;
}

.menu-left {
    border-radius: 0 1000px 1000px 0;
}

.menu-right {
    border-radius: 1000px 0px 0px 1000px;

}

header {
    display: flex;
    justify-content: space-between;
    font-family: "IBM Plex Serif";
    font-weight: bold;
    font-size: 22pt;
    align-items: flex-end;
    margin-top: 20px;
}

.side {
    width: 120%;
}

.logo {
    width: 250px;
    position: relative;
    bottom: 0;
}

.info-text {
    text-align: center;
}

.info {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 10%;
    align-items: center;

}

.contacts {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-icon {
    width: 80px;
}

.contact-icons {
    display: flex;
    gap: 35px;
    margin-bottom: 20px;
}

.profile-icons {
    width: 80px;
}

.info-right {
    display: flex;

}




.treba {
    background-image: url(src/img/рамка.png);
    background-size: cover;
    padding: 100px;
    display: flex;
    justify-content: space-between;
}

.treba-left {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 35px;

}

.treba-text {
    font-family: 'Pacifico';
    font-size: 40pt;
    text-align: center;
}

.treba-right {
    display: flex;
    flex-direction: row-reverse;
}

.line {
    width: 500px;
    height: 5px;
    background: black;
    border-radius: 50px;
}

.btn {
    background: #F2D673;
    width: 295px;
    height: 85px;
    border-radius: 30px;
    font-family: 'Pacifico';
    font-size: 180%;
    border-width: 0px;
    margin-bottom: 0px;

    box-shadow: 0 6px #ffa500;
}

.btn:hover {
    box-shadow: 0 4px #ffa500;
    top: 180%;
}

.btn:active {
    box-shadow: none;
    top: 180%;
}

.baner {
    width: 100%;
}



.about {
    background-image: url(src/img/рамка-жёлтая.png);
    background-size: cover;
    padding: 100px;
    display: flex;
    justify-content: space-between;
}

.about-text {
    font-family: 'Pacifico';
    font-size: 35pt;
}

.about-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}

.about-left {
    display: flex;
    align-items: center;
}

.about-text-info {
    font-size: 20pt;
    text-align: justify;
    padding-bottom: 2%;
    padding-top: 1%;
}

.foto1_about {
    display: flex;
}

.foto2_about {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.emblem-foto {
    height: auto;
    width: 650px;
}





.page-treba {
    background-image: url(src/img/рамка-большая.png);
    background-size: cover;
    padding: 100px;
}

.center-top-page-treba {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.treba-text-page-treba {
    font-family: 'Pacifico';
    font-size: 40pt;
    text-align: center;
    margin-top: -2%;
}

.line {
    width: 500px;
    height: 1;
    background: black;
    border-radius: 50px;
}



.christening-part {
    display: flex;
    margin-top: 6%;
    margin-left: 1%;
    justify-content: space-between;
    align-items: center;
}

.text-heading-page-treba{
    font-family: 'Pacifico';
    font-size: 40pt;
    display: flex;
    justify-content: center;
}


.consecration-car-part {
    display: flex;
    margin-top: 6%;
    margin-left: 4%;
    justify-content: space-between;
    align-items: center;
}

.wedding-part {
    display: flex;
    margin-top: 6%;
    margin-left: 1%;
    justify-content: space-between;
    align-items: center;
}

.communion-at-home-part {
    display: flex;
    margin-top: 6%;
    margin-left: 4%;
    margin-bottom: 3%;
    justify-content: space-between;
    align-items: center;
}




.podval {
    background-color: #f2d673;
    padding-left: 3%;
    display: flex;
    flex-direction: row;
    padding-top: 2%;
}

.podval-fist-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5%;
}

.text-podval-year {
    font-family: "IBM Plex Serif";
    font-size: 14pt;
}

.text-podval-left {
    font-family: "IBM Plex Serif";
    font-size: 14pt;
    margin-bottom: 15%;
}


.text-podval {
    text-align: center;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    line-height: 1.8;
}

.text-podval-menu {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: "IBM Plex Serif";
    font-size: 16pt;
    margin-bottom: 15%;
}


.text-podval-networks {
    padding-left: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
    line-height: 2;
}

.soc-networks-tg-icons {
    text-align: center;
    display: inline-block;
    font-size: 16pt;
}

.soc-networks-vk-icons {
    text-align: center;
    display: inline-block;
    font-size: 16pt;
}

.soc-networks-Whatsapp-icons {
    text-align: center;
    display: inline-block;
    font-size: 16pt;
}


.text-podval-right {
    text-align: center;
    display: inline-block;
    padding-left: 13%;
    margin-top: 1%;
    line-height: 2;
}

.text-podval-telephone {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: "IBM Plex Serif";
    font-size: 16pt;
    margin-bottom: 15%;
    line-height: 3;
}

.text-podval-icons-soc-networks {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 15%;
    padding-top: 10%;
}



.page-about {
    background-image: url(src/about-рамка.png);
    background-size: cover;
    padding: 100px;
    justify-content: space-between;
    background-color: #F1E6BE;
}

.center-top-page-about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.about-text-page-about {
    font-family: 'Pacifico';
    font-size: 40pt;
    text-align: center;
    margin-top: -2%;
}


.text-heading-page-treba{
    font-family: 'Pacifico';
    font-size: 40pt;
    display: flex;
    justify-content: center;
}

.information-part {
    display: flex;
    margin-top: 8%;
    margin-left: 1%;
    justify-content: space-between;
    align-items: center;
}

.information-part-two {
    display: flex;
    margin-top: 10%;
    margin-left: 4%;
    justify-content: space-between;
    align-items: center;
}

.information-part-three {
    display: flex;
    margin-top: 8%;
    margin-left: 4%;
    margin-bottom: 3%;
    justify-content: space-between;
    align-items: center;
}

.page-gallery {
    background-image: url(src/img/рамка-галерея.png);
    background-size: cover;
    padding: 100px;
    justify-content: space-between;
}

.center-top-page-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.gallery-text-page-gallery {
    font-family: 'Pacifico';
    font-size: 40pt;
    text-align: center;
    margin-top: -2%;
}

.video {
    margin-top: 3%;
    margin-left: 3%;
}


.line1 {
    display:-webkit-inline-box;
}

.images {
    margin-top: 3%;
    margin-left: 3%;
    border-collapse: separate;
    border-spacing: 10%;
}